:root {
  --neutral-00: #ffffff;
  --neutral-10: #f5f5f5;
  --neutral-20: #dddddd;
  --neutral-30: #aaaaaa;
  --neutral-60: #777777;
  --neutral-70: #434343;
  --neutral-80: #333333;
  --primary-color: #4caf50;
  --secondary-color: #ffd700;
  --tertiary-color: #f44336;
  --quaternary-color: #f443363c;

  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
  --transition-delay: 0s;

  --background-color: var(--neutral-10);
  --todo-background-color: var(--neutral-00);
  --text-color: var(--neutral-80);
  --completed-color: var(--neutral-60);
  --button-color: var(--primary-color);
  --tasks-border-color: var(--neutral-20);
  --toggle-border-color: var(--neutral-20);
  --placeholder-color: var(--neutral-60);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --toggle-button-color: var(--neutral-00);
  --toggle-icon-color: var(--neutral-60);
  --checkbox-background-color: var(--neutral-00);
  --checkbox-border-color: var(--neutral-60);
  --checkbox-accent-color: var(--neutral-60);
  --close-button-color: var(--tertiary-color);
  --close-button-hover-color: var(--quaternary-color);
}

[data-theme='dark'] {
  --background-color: var(--neutral-70);
  --todo-background-color: var(--neutral-80);
  --text-color: var(--neutral-10);
  --completed-color: var(--neutral-30);
  --button-color: var(--primary-color);
  --tasks-border-color: var(--neutral-60);
  --toggle-border-color: var(--neutral-60);
  --placeholder-color: var(--neutral-60);
  --shadow-color: rgba(255, 255, 255, 0.1);
  --toggle-button-color: var(--neutral-80);
  --toggle-icon-color: var(--secondary-color);
  --checkbox-background-color: var(--neutral-70);
  --checkbox-border-color: var(--neutral-20);
  --checkbox-accent-color: var(--neutral-20);
  --close-button-color: var(--tertiary-color);
  --close-button-hover-color: var(--quaternary-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sun-icon {
  fill: var(--toggle-icon-color);
  opacity: 0;
  transform: scale(1);
}

.moon-icon {
  fill: var(--toggle-icon-color);
  opacity: 1;
  transform: scale(0.8);
}

[data-theme='dark'] .sun-icon {
  opacity: 1;
  transform: scale(0.8);
}

[data-theme='dark'] .moon-icon {
  opacity: 0;
  transform: scale(1);
}
